/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
}
.layout1 {
	margin:0 auto;
	position:relative;
	width:1744px;
}
.layout2 {
	margin:0 auto;
	position:relative;
	width:1352px;
}
main {
	display:block;
	width:100%;
	position: relative;
}
#content{
	position: relative;
}
